* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: var(--font);
}

:root {
    --font: 'Work Sans', sans-serif;
    --btn-bg-color: rgb(255, 216, 132);
    --coin-bg-color: rgb(253, 252, 251);
    --title-color: rgb(253, 174, 5);
    --title-bg-color: rgba(99, 98, 98, 0.9);
    --text-color: rgb(94, 93, 93);
}

body{
    /* background-image: linear-gradient(to bottom,rgba(122, 122, 122, 0.3), rgba(253, 174, 5, 0.4)), url('../images/b9.jpg'); */
    background-image: linear-gradient(to bottom,rgba(122, 122, 122, 0.7), rgba(0, 38, 142, 0.4)), url('../images/b12.jpg');
    /* background-image: linear-gradient(to bottom,rgba(209, 210, 211, 0.3), rgba(0, 23, 86, 0.9)), url('../images/bitcoin.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
    background-color: transparent;
}

.fixed-position {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "title total search";
    position: fixed;
    /* justify-items: center; */
    align-items: center;
    min-width: 100%;
    height: 160px;
    padding: 15px 15px 0 15px;
    background-color: var(--title-bg-color);
}

.title {
    grid-area: title;
    justify-self: center; 
    font-size: 4em; 
    color: var(--title-color);
}

.total-amount {
    grid-area: total;
    color: rgb(223, 224, 224);
}

.search-bar {
    grid-area: search;
    justify-self: left;
}


/*
==========================
SORTING BUTTONS
==========================
*/
.sorting-btns {
    /* width: 60%; */
    grid-column: 1 / -1;
    width: 850px;
    display: grid;
    grid-template-areas: 
        "name priceUp priceDown rank";
}

.sorting-btns button {
    background-color: var(--btn-bg-color);
    border: none;
    margin: 1px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color);
}

.chart-down {
    width: 23px;
    margin-bottom: -5px;
}


.sort-btn-name { grid-area: name; }
.sort-btn-price-lowest { grid-area: priceUp; }
.sort-btn-price-higest { grid-area: priceDown; }
.sort-btn-rank { grid-area: rank; }
/*
=======================
COIN sectoin
=======================
*/
.coin-title {
    display: grid;
    /* grid-template-columns:  1fr; */
    grid-column: 1 / -1;
    margin-top: 170px;
    width:  60%;
    grid-template-columns: 250px 100px 150px repeat(3, 100px);
    justify-self: center;
    grid-gap: 10px; 
}

.coin-table {
    position: fixed;
    width: 100%;
}

.coin-table-title {
    color: var(--title-color);
    position: fixed;
    background-color: var(--title-bg-color);
    grid-column: 1 / -1;
    align-items: center;
    text-align: left;
    height: 50px;
    display: grid;
    grid-template-columns: 250px 100px 150px repeat(3, 100px);
    grid-template-areas: 
        "name rank price h day week";
    font-weight: 700;
    justify-self: center;
    grid-gap: 10px;
}

.center {
    text-align: center;
}

.details {
    margin-top: 100px;
    text-align: left;
    grid-column: 1 / -1;
}

.coin {
    width: auto;
    background-color: var(--coin-bg-color);
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
    /* border-radius: 5px; */
    text-align: left;
    border-bottom: 1px dashed rgb(1, 1, 107);
    margin: 1px;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px 100px 150px repeat(3, 100px);
    grid-template-areas: 
        "name rank price h day week";
    transition: all .2s ease-in-out;
    color: var(--text-color);
}

.coin:hover {
    transform: scale(1.1);
    cursor: pointer;
    font-size: 2em;
}

.name {
    text-align: left;
}